header{
    padding:25px
}
.about-pic{
    float: left;
    width: 30%;
    left: 25px;
    top: 25px;
    margin: 10px;
}
.img-fluid{
    padding: 10px;
}

.fa-instagram {
    background: purple; 
    color: whitesmoke;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: thistle;
    height: 1px;
  }
  .container{
    background: whitesmoke; 
    padding: 50px; 
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    /* background: linear-gradient(to top, transparent, lightyellow), url("./../../assets/topomap.jpg");  */
    background-attachment: fixed;  
}