body {
    font-family: 'Nanum Myeongjo', serif;
    background: linear-gradient(to top, transparent, lightyellow), url("https://res.cloudinary.com/dbd23cfw2/image/upload/v1605118088/Portfolio%20images/topomap_zddpcm.jpg"); 
    background-attachment: fixed;  
}
.card{
    padding: 30px;
    margin: 30px;
}
.projects{
    background: whitesmoke; 
    padding: 50px; 
    margin-top: 50px;
    margin-bottom: 50px;
}
header{
    padding:25px
}
